
@{
    ViewData["Title"] = "Index";
    var age = 19;
    string name = "Ngoc Tu";
    double price = 4.5;
    var quantity = 5;
}

<h1>Index</h1>
<p>Ngoc Tu Dep Trai</p>

<div>
    <p>Age: @age</p>
    <p>Name: @name</p>
    <p>Price: @price</p>
    <p>Quantity: @quantity</p>
    <p>Total: @(price * quantity)</p>
</div>
